@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Red hat Inc.<br />
    Dubai UAE- Office Park, Internet City 02547, 6th May<br />
    <abbr title="Phone">P:</abbr>
    888.RED.HAT1
</address>

<address>
    <strong>Comments or questions about this web site?:</strong>   <a href="mailto:dschenck@redhat.com">dschenck@redhat.com</a><br />
</address>
